@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat',sans-serif;
}
.container {
  height: 100vw;
  padding: 20px;
  background: #3c88a3; /* fallback for old browsers */
  background: linear-gradient(320deg, #0a2643, #3c88a3);

  color: #171212;
}

.headline-primary {
  margin-top: 0;
}

.headline-primary a {
  color: #f4f9fb;
  font-family: 'Bungee', sans-serif;
  font-size: 36px;
  letter-spacing: .06em;
  line-height: 120.5%;
  text-shadow: 0 4px 15px rgb(0 0 0 / 20%);
  text-decoration: none;
  font-weight: 400;
}

.headline-primary a:hover {
  text-decoration: underline;
}

.url-creation-form {
  display: flex;
  flex-direction: column;
  background: #e0eef3;
  border-radius: 10px;
  max-width: 410px;
  flex-wrap: wrap;
  margin-left: 70px;
  padding: 10px;
}

.url-creation-form label {
  font-size: 0.9em;
  margin: 5px;
}

.url-creation-form input {
  font-size: 1.2em;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #999;
  color: #0a2643;
  background: #f4f9fb;
}

.url-creation-form button {
  font-size: 1.1em;
  border-radius: 10px;
  padding: 15px 30px;
  border: 1px solid #999;
  background-color: #355f78;
  color: white;
}

.url-creation-form button:hover {
  background-color: #3f718f;
  cursor: pointer;
}

.url-creation-form button:disabled {
  background-color: #adcadb;
  cursor:not-allowed;
}

.customize {
  display: flex;
  flex-direction: row;
}

.input.host {
  border-radius: 10px 0px 0px 10px;
  color: #355f78;
}

.input.slug {
  width: 100%;
  border-radius: 0px 10px 10px 0px;
  border-left: none;
}